<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scriptures.shareApp.dao.mapper.ShareCommodityMapper">
  <resultMap id="BaseResultMap" type="com.scriptures.shareApp.dao.entity.ShareCommodity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="share_type" jdbcType="INTEGER" property="shareType" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commodity_id, member_id, ip_address, create_date, update_date, share_type, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_share_commodity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_share_commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scriptures.shareApp.dao.entity.ShareCommodity">
    insert into tb_share_commodity (id, commodity_id, member_id, 
      ip_address, create_date, update_date, 
      share_type, remarks)
    values (#{id,jdbcType=VARCHAR}, #{commodityId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{ipAddress,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{shareType,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scriptures.shareApp.dao.entity.ShareCommodity">
    insert into tb_share_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="shareType != null">
        share_type,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareType != null">
        #{shareType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scriptures.shareApp.dao.entity.ShareCommodity">
    update tb_share_commodity
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="shareType != null">
        share_type = #{shareType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scriptures.shareApp.dao.entity.ShareCommodity">
    update tb_share_commodity
    set commodity_id = #{commodityId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      share_type = #{shareType,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getListByIdByPhone" resultMap="BaseResultMap">
     select *
      from tb_share_commodity
      where commodity_id = #{id}
      and member_phone LIKE '%${phone}%'
      ORDER BY create_date DESC
  </select>
</mapper>